{% extends "base.twig" %}

{% block content %}
    <div>
        <article>
            <img src="{{ post.thumbnail.src|resize(1200, 300) }}">
            <section>
                <h1>{{ post.title }}</h1>
                <a href="{{ post.link }}">{{ _e('edit') }}</a>
                <p>
                    <span>By</span><a href="{{ post.author.path }}"> {{ post.author.name }} </a><span>&bull;</span>
                    <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
                </p>
                <div>
                    {{ post.content }}
                </div>
            </section>

            <section>
                <div>
                    {% if post.comments %}
                        <h3> comments </h3>
                        {% for cmt in post.comments %}
                            {% include "comment.twig" with {comment:cmt} %}
                        {% endfor %}
                    {% endif %}
                </div>

                {% if post.comment_status == "closed" %}
                    <p> comments for this post are closed </p>
                {% else %}
                    {% include "comment-form.twig" %}
                {% endif %}
            </section>
        </article>
    </div>
{% endblock %}
